

<div class="categorie">
    Découvrez nos vêtements
</div>

<div class="product-list">

    @for(product of list(); track product.id){

      <div class="product">
        <app-productitem
            [product]="product"

            (displayProductViewModal)="onDisplayProductViewModal($event)" 
            >  
        </app-productitem>
      </div>
    }
     @if (isDisplayModal() && modalProduct()){
    <app-modal-product-view
      [product]="modalProduct()"
      (close)="onCloseModal()"
      (favoriteAdded)="onFavoriteAdded($event)"
    ></app-modal-product-view>
    
    }
     
</div>

